/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margins and set background to match app */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #DDD1BC;
}
